
<h1>测试web组件</h1>
<patient-list></patient-list>
<patient-detail></patient-detail>
<h1>web组件内部路由测试</h1>
<emr-outpatient></emr-outpatient>
<h1>外部测试路由1</h1>
<!-- 功能点 -->
<div class="test1">
  <strong>失败，通过动态传出想要的路由让子路由去加载，子路由OnInit方法总是在切换的时候才执行，html内动态绑定的值的整个dom会被清空</strong>
<div class="menu">
<button (click)="navigateTo('outpatient', 'list')"> 患者列表 </button>
<button (click)="navigateTo('outpatient', 'detail/1212')"> 患者详情 </button>
</div>
<div class="container">
  <emr-outpatient
  id="outpatient"
  [path]="outpatientPath"
></emr-outpatient>
</div>
</div>
<h1>外部测试路由2 - 直接动态加入子路由dom</h1>
 <div class="test2">
  <div class="menu">
  <button (click)="showAsElement('outpatient', 'patient-list')"> 患者列表 </button>
  <button (click)="showAsElement('outpatient', 'patient-detail', {'visit-code': 'aaa'})"> 患者详情 </button>
  </div>
  <div id="test2">
  </div>
</div>